/* ------------------------------ */
/* -------  GENERAL  ------------ */
/* ------------------------------ */
h1,h2,h3,h4,span,label,p {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji"
   !important;
}
h1 {
  text-align: center;
  color: #fff;
  z-index: 1500;
}
h2 {
  font-size: 28px !important;
  margin-left: 15px;
  color: rgb(109, 109, 109);
  padding-bottom: 10px;
  padding-top: 10px;
  width: fit-content;
}
h4 {
  font-size: 18px !important;
  color: #555;
}
label,textarea{
font-size: 14px !important;
color: rgb(128, 128, 128);

}
h1,h2,h3,p,a{
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !important;
}

.body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 6px 21px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67a22;
  border: 1px solid #e67a22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67a22;
  color: #e67a22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
} 
/* MainScreen */
.button-show-data{
  display: flex;
  flex-direction: row-reverse;
  
}

.Mainscreen {
  background-color: #F9F9f9;
  margin-left: 80px;
  overflow: hidden;
  padding: 0;
  transition: all 0.5s;
}

.headbar {
  background-color: #212121;
  height: 103px;
  display:flex;
  padding-top: 20px;
  justify-content: center;
  z-index: 1499;
}
/* ------------------------------ */
/* -------  SCREENS  ------------ */
/* ------------------------------ */

.chips_div{
  margin-top: 60px;
}
.chips_div div:first-child{
  margin-bottom: 20px;
}
.subscreens{
  margin-top: 50px;
}
.screens {
  margin-top: 10px;
  justify-content: center;
  padding-left: 5px;
  background-color: #F9F9F9;
}
.newbutton{
  height: 150 !important;
}
.below-border{
  margin: 40px 0 40px 0;
  border: 2px solid black;

}
/* ------------------------------ */
/* -------  SUB-SCREENS --------- */
/* ------------------------------ */

/* ------------------------------ */

/* ------------------------------ */
/* ------- DASHBOARD ------------ */
/* ------------------------------ */

.masterbox {
  padding: 4px 4px 40px 13px;
}
/* .sticky-header{
  position:fixed;
  width: 97.5%;
  z-index:1499;
} */
.headbar{
  /* border-top-left-radius: 80px;
  border-top-right-radius: 80px; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.logo{
  position:absolute !important;
  top:0;
  right:0;

 
}
.minibox {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  height:500px !important;
}
.miniboxMax{
   background-color: #fff;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
   border-radius: 5px;
   
}
.minibox1 {
  background-color: rgb(216, 216, 216);
  padding: 23.5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}
textarea{
  background-color: rgba(255, 255, 255, 0.808) !important;

}
/* ------------------------------ */
/* ------- Counters ------------ */
/* ------------------------------ */
.counterboxes {
  text-align: center;
}
.counterboxes div {
  padding: 5px;
}
.counterboxes .box {
  margin: 25px;
  display: grid;
  border-radius: 20px;
  margin-bottom: 85px;
  justify-content: center;
  transition: all 0.7s;
}
.counterboxes .box:hover {
  background-color: rgba(144, 255, 240, 0.05);
  -webkit-box-shadow: 10px 10px 60px -21px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 60px -21px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 60px -21px rgba(0, 0, 0, 0.5);
}
.box:last-child .MuiCircularProgress-root {
  color: orange !important;
}
.box:nth-last-child(2) .MuiCircularProgress-root {
  color: rgb(78, 184, 119);
}

/* ------------------------------ */
/* =------- Twitter =------------ */
/* ------------------------------ */

.selectloc {
  text-align: center;
  margin: 20px 150px 20px 150px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  padding: 2% 0;
  background-color: #fff;
}

#trendfield {
  visibility: hidden;
}

.percentage{
font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !important;
font-size: 36px !important;
font-weight: bold;

}
.gaugechart{
  text-align: center;
}
.emptyComp {
  border-top: 1px dashed #d1d1d1;
  border-bottom: 1px dashed #d1d1d1;
  text-align: center;
  width:100%;
  margin: 2% 2%;
  border-radius: 40px;
  padding: 2% 22%;
}
.emptyComp h3 {
  font-size: 22px !important;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #d1d1d1;
}
.show-data {
  margin-top: 15px;
  font-size: 21px !important;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #919191;
}

.fav-box{
  background-color: #2c2c2ce5;
  display: flex;
  z-index: -5;
  margin-bottom: -10px !important;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.fav-box h2 {
  font-size: 21px !important;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #e1e1e1;
} 

.search-box{
  margin: 0 15px 0 5px !important;
}

.trendbtn span {
  font-size: 18px;
}
.trendbtn span:hover {
  font-size: 22px;
}

/* ------------------------------ */
/* =------- E X T R A ----------- */
/* ------------------------------ */

.boxes:nth-child(2) {
  margin-top: 10px;
  text-align: center;
}

.MuiFormLabel-root {
  font-size: 18px !important;
}
.MuiDialog-container{
  margin-top: 80px !important;
  height: 90% !important;
}

.redicon:hover{
  padding:2px;
  border-radius: 20px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 7px 3px 38px 0px rgba(255, 61, 61, 1);
  -moz-box-shadow: 7px 3px 38px 0px rgba(255, 61, 61, 1);
  box-shadow: 7px 3px 38px 0px rgba(255, 61, 61, 1);
}

.blueicon:hover{
  padding:2px;
  border-radius: 20px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 7px 3px 38px 0px rgba(61, 187, 255, 1);
  -moz-box-shadow: 7px 3px 38px 0px rgba(61, 187, 255, 1);
  box-shadow: 7px 3px 38px 0px rgba(61, 187, 255, 1);
}

.greenicon:hover {
  padding:2px;
  border-radius: 20px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 7px 3px 38px 0px rgba(61, 255, 184, 1);
  -moz-box-shadow: 7px 3px 38px 0px rgba(61, 255, 184, 1);
  box-shadow: 7px 3px 38px 0px rgba(61, 255, 184, 1);
}
.totalcomments{
  margin-top: 20px;
}

.wordcloudchart{
  marginTop:50 !important;
}
.masterbox h2{
  text-transform: uppercase;
}

.uploadimage-field {
  width: 100%;
  height: 4vh;
  border: 0.07vw solid #F9F9F9;
  border-radius: 0.25vw;
  background-color: #F9F9F9;
  margin: 0vh 0vh 1.6vh 0vh;
  padding: 0vh 2vh 0vh 2vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vh;
  color: #C0C0C4;
  line-height: 1.6vh;
}
